*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #091921;
    min-height: 100vh;
}
.clockContainer{
    margin: auto;
    width: 40vw;
    height: 40vw;
    background-image: url('https://lh3.googleusercontent.com/proxy/zhcRRcFkL79wPYw9C_F1VtJCwqtY4-fYHQV7ZCMGSc6lIREbimNeiInBx3TCzlBQxwxStby3dW90KA0S0zi9gqUhRo_Wpis');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05) ,
                10px -15px 15px rgba(255, 255, 255, 0.05) ,
                0 15px 15px rgba(0, 0, 0, 0.3) ,
                10px 0 15px 15px rgba(0, 0, 0, 0.3);
}
#hour , #minutes , #seconds{
    position: absolute;
    transform-origin: bottom;
}
#hour{
    width: 4px;
    height: 25%;
    left: 49.5%;
    top: 24.8%;
    background-color: blue;
}
#minutes{
    width: 4px;
    height: 35%;
    left: 49.5%;
    top: 15%;
    background-color:black;
}
#seconds{
    width: 1px;
    height: 40%;
    left: 49.75%;
    top: 10%;
    background-color: red;
}

